<div class='single' ng-controller='SingleController as single'>
  <ipheader></ipheader>
  <div class='container-fluid'>
      <div class='row'>
        <div class='single-image-container col-md-4 col-md-offset-4'>
          <h2 class='single-main-title'>{{ single.image.title }}</h2>
          <div class='single-main-image-container'>
            <img 
              class='single-main-image'
              ng-src='/uploads/{{ single.image.fileName }}'
            />
          </div>
          <div class='single-image-metadata'>
            <a class='like-button' ng-class="{ liked: single.image.likedByUser }" ng-click='single.likePin(single.image.id)'>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <span class='number-of-likes' ng-if='single.image.likes.length > 0'>{{ single.image.likes.length }}</span>
            </a>
            <!--<a ng-click='single.addPin(single.image.id)'>-->
              <!--<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>-->
            <!--</a>-->
          </div>
          <div class='single-image-comments'>
            <div class='single-comment' ng-repeat='comment in single.comments'>
              <div class='user-box'>
                <img class='user-avatar' ng-src="{{ comment.user.avatarUrl }}" />
                <span class='user-name'>{{ comment.user.login }}</span>
                <span class='created-at' am-time-ago="comment.createdAt"></span>
                 <div style='clear: both;'></div>
              </div>
              <p>{{ comment.text }}</p>
            </div>
          </div>
          <div class='add-comment'>
            <form ng-submit='single.addComment()'>
              <textarea ng-model="textarea" class="form-control" rows="3" placeholder='Add your comment'></textarea>
              <input type='submit' class='btn btn-default btn-primary' />
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
