* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.like-button, .comments-button {
  cursor: pointer; 
  color: #000;
  &:hover {
    color: $red;
  }
  &.liked {
    cursor: default;
    color: #777;
    &:hover {
      color: #777;
    }
  }
}
