// Paths
$img-path: '../assets/img/';
$lib-path: '../../lib/';
$bootstrap-stylesheets-path: '#{$lib-path}bootstrap-sass-official/assets/stylesheets/bootstrap/';
$bootrap-icon-path: '#{$lib-path}bootstrap/dist/fonts/';

$red: #e3262e;
