.add-image-button {
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
}

.hidden {
  display: none;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }

    .deckgrid .column-1-1 {
        width: 100%;
    }
}

.image-container-container {
  margin-top: 5px;

  &.loaded {
    opacity: 1;
  }
  .image-block {
    min-height: 150;
    background-color: #f7f7f7;
    &.image-not-loaded {
        background-image: url('/assets/img/puff.svg');
        background-position: center center;
        background-repeat: no-repeat;
        .main-image {
          display: none;
        }
        .image-placeholder-block {
          display: block;
        }
    }
    text-align: center; 
    .image-link {
      line-height: 0;
      display: block;
    }
  }

  .image-container {
    margin: 4px;
    border: solid 1px $gray;
    border-radius: 5px;
    .single-comment {
      padding: 10px; 
      border-top: solid 1px $gray;
      p {
        margin: 0; 
      }
    }
    .add-comment {
      padding: 10px;
      border-top: solid 1px $gray;
      textarea {
        color: #333;
      }
      .btn {
        margin-top: 5px;
      }
    }
    .image-link {
      /*cursor: zoom-in;*/
    }
    .image-placeholder-block {
      height: 200px;
      display: none;
    }
    .main-image {
      max-width: 100%;
      max-height: 100%;
    }
    .meta-data {
      padding: 5px 10px;
      border-top: solid 1px $gray;
    }
    a.user-link, a.user-link:visited {
      color: $red; 
    }
    .user-box {
      padding: 10px 10px;
      cursor: pointer;
      border-top: solid 1px $gray;
      &:hover {
        background: #f7f7f7;
      }
      .user-avatar {
        float: left;
        margin-right: 10px;
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 35px;
      }
      .user-login {
        margin: 8px 0;
      }
    }
  }

}
