.add-image-button {
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
}
.modal {
 .overlay {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0.8;
    background: $red;
    z-index: 999;
    background-image: url('/assets/img/puff-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.modal-content {
  border-radius: 0;
  input[type="text"] {
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 1em;
  }
  input[type="file"]{
    width: 100%;
    border: solid 1px #C8C8C8;
    padding: 7px;
  }
  label {
      text-transform: uppercase;
      color: #777;
      font-size: 0.8em;
      letter-spacing: 0.05em;
  }
  }

.modal-header {
  background: $red;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1.35em;
  text-align: center;
  text-shadow: 0px 0px 1px #777;
}

.image-container-container {
  margin-top: 5px;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }
  .image-block {
    min-height: 150;
    background-color: #f7f7f7;
    background-image: url('/assets/img/puff.svg');
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center; 
    .image-link {
      line-height: 0;
      display: block;
    }
  }

  .image-container {
    border: solid 1px $gray;
    border-radius: 5px;
    .image-link {
      cursor: zoom-in;
    }
    .main-image {
      max-width: 100%;
      max-height: 100%;
    }
    .meta-data {
      padding: 5px 10px;
      border-top: solid 1px $gray;
    }
    .user-box {
      padding: 10px 10px;
      cursor: pointer;
      border-top: solid 1px $gray;
      &:hover {
        background: #f7f7f7;
      }
      .user-avatar {
        float: left;
        margin-right: 10px;
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 35px;
      }
      .user-login {
        margin: 8px 0;
      }
    }
  }

}
