.single-image-container {
  border: solid 1px $gray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0;

  .single-main-title {
    border-bottom: solid 1px $gray;
    padding: 10px;
    margin: 0;
  }
  .single-main-image-container{
      .single-main-image {
        text-align: center;
        max-width: 100%;
      }
  }
  .single-image-metadata {
    padding: 10px;
  }
}
