<div>
  <div class='overlay' ng-show="showOverlay"></div>
  <h1 class="modal-header">Add Image</h1>
  <div class="modal-body">
    <form ng-submit="closeModal()">

      <div class='form-group'>
        <label for='file-select'>Select Image</label>
        <input
          name='file-select'
          type="file"
          ng-model='files' ng-file-select="onFileSelect(files)" ng-multiple="false"
         />
      </div>

      <div class='form-group'>
        <label for='title-select'>Enter Title</label>
        <input
          name='title-select'
          type='text'
          ng-model='title'
        />
      </div>

      <button type="submit" class="create-project-button btn btn-default btn-primary">
        <span class='glyphicon glyphicon-plus'></span>
        <span class='text'>Add</span>
      </button>
    </form>
  </div>
</div>
