<div class="home" ng-controller='HomeController as home'>
  <ipheader></ipheader>
  <div masonry="{
      transitionDuration: '0.4s', 
      hiddenStyle: { opacity: 0, transform: 'scale(0.00001)' },
      visibleStyle: { opacity: 1, transform: 'scale(1)'}
  }" preserve-order>
    <div class="masonry-brick image-container-container col-sm-6 col-md-4 col-lg-3" ng-repeat="image in home.images">
        <div class="image-container">
            <div class='image-block' ng-class='{ "image-not-loaded": (image.base64 === undefined) }'>
            <a class='image-link' ui-sref='single({ id: image.id })' >
              <img
                class='main-image'
                ng-if="image.base64 !== undefined"
                data-ng-src='data:{{ image.type }};base64,{{ image.base64 }}'
               />
              <div 
                class='image-placeholder-block'
                ng-if="image.base64 === undefined"
              >
              </div>
            </a>
        </div>
        <div class='meta-data'>
            <p>{{ image.title }}</p>
            <a class='like-button' ng-click='home.likePin(image.id)'>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <span class='number-of-likes' ng-if='image.likes.length > 0'>{{ image.likes.length }}</span>
            </a>
            <!--<a ng-click='home.addPin(image.id)'>-->
              <!--<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>-->
            <!--</a>-->
        </div>
        <a ui-sref='user({ userId: image.user.id })'>
          <div class='user-box'>
            <img class='user-avatar' ng-src='{{ image.user.avatarUrl }}' />
            <p class='user-login'>{{ image.user.login }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <button class='add-image-button btn btn-primary' ng-click='home.addImage()'>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</div>
