<div class="home" ng-controller='HomeController as home'>
  <ipheader></ipheader>
  <div masonry>
    <div class="masonry-brick image-container-container" ng-repeat="image in home.images">
      <div class="image-container">
        <div ng-if="image.base64 !== undefined">
            <a class='image-link' ui-sref='single({ id: image.id })'>
              <img
                class='main-image'
                data-ng-src='data:{{ image.type }};base64,{{ image.base64 }}'
               />
            </a>
        </div>
        <div class='meta-data'>
            <p>{{ image.title }}</p>
            <a ng-click='home.likePin(image.id)'>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <span class='number-of-likes' ng-if='image.likes.length > 0'>{{ image.likes.length }}</span>
            </a>
            <a ng-click='home.addPin(image.id)'>
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        </div>
        <a ui-sref='user({ userId: image.user.id })'>
          <div class='user-box'>
            <img class='user-avatar' ng-src='{{ image.user.avatarUrl }}' />
            <p class='user-login'>{{ image.user.login }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <button class='add-image-button btn btn-primary' ng-click='home.addImage()'>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</div>
